<nav role="navigation" class="navbar navbar-inverse">

	<div class="navbar-header">
		<a href="http://robertmarchese.github.io" class="navbar-brand">Robert Marchese</a>
	</div>

	<div id="navbarCollapse" class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<li><a href="http://robertmarchese.github.io">Home</a></li>
			<li class="#"><a href="http://robertmarchese.github.io/otherProjects/codeAcademy/index.html">Code Academy Badges</a></li>

			<li class="dropdown">
				<a data-toggle="dropdown" class="dropdown-toggle">js Questions<b class="caret"></b></a>
				<ul role="menu" class="dropdown-menu">
					<li><a href="http://robertmarchese.github.io/otherProjects/jsQuestions/week5Questions.html">Week 5 Questions</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a data-toggle="dropdown" class="dropdown-toggle">Bootstrap Pages<b class="caret"></b></a>
				<ul role="menu" class="dropdown-menu">
					<li><a href="http://robertmarchese.github.io/otherProjects/twitterBootstrap/carousel.html">Carousel</a></li>
					<li><a href="http://robertmarchese.github.io/otherProjects/twitterBootstrap/index.html">Week 2 Twitter bootstrap page</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a data-toggle="dropdown" class="dropdown-toggle">Take An Order<b class="caret"></b></a>
				<ul role="menu" class="dropdown-menu">
					<li><a href="http://robertmarchese.github.io/otherProjects/takeAnOrder/takeAnOrderRegular.html">Take an Order Regular</a></li>
					<li><a href="robertmarchese.github.io/otherProjects/takeAnOrder/takeAnOrderBootstrap.html">Take an Order Bootstrap</a></li>
				</ul>
		</ul>
		<ul role="menu" class="dropdown-menu">
			<li class="#"><a href="robertmarchese.github.io/otherProjects/ajaxExamples/clients.html">Clients</a></li>


			<li class="#"><a href="robertmarchese.github.io/otherProjects/ajaxExamples/clients.html">Clients</a></li>
	</div>
</nav>