.jumbotron {
	font-family: "calibri", "sans-serif";
	color: black;
}

html,
body {
	height: 112%;
}


}
body {
	color: black;
	background-color: white;
	font-family: "calibri", sans-serif;
}
.container {
	background: white;
	height: 100%;
}
.Casesimage {
	width: 100%;
}
.caseType {
	font-size: 30px;
	font-weight: bold;
}
.caseName {
	font-size: 20px;
	font-style: italic;
}
.caseColour {
	font-size: 18px;
}
.buyerName {
	background-color: white;
	font-size: 22px;
	font-style: normal;
	text-decoration: underline;
}
.buyerComment {
	font-size: 15px;
}